* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #FFF7ED;
}

/* Navbar */

.navbar {
    padding: 2em 3em;
    display: flex;
    justify-content: space-between;
    background: #FFF7ED;
}

.navbar--logo {
    font-family: "Inter", sans-serif;
    font-size: 1.271875em;
    font-weight: 900;
    color: #000000;
    text-decoration: none;

}

.navbar--logo:focus,
.navbar--logo:active,
.navbar--links:focus,
.navbar--links:active,
.navbar--links > a {
    text-decoration: none;
    outline: none;
}

.navbar--links {
    display: flex;
    gap: 1.5em;

}

.navbar--links > a {
    text-decoration: none;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 22.92px;
    text-align: right;
    color: #4D4D4D
}

/* Footer */

.footer {
    margin-top: auto;
    background: #252525;
    padding: .5em
}

.footer > p {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 22.92px;
    text-align: center;
    color: #AAAAAA;
}

/* Home */

.main--home {
  min-height: 100vh;
  color: white;
  background-image: url("./assets/vanlife-home.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main--home_content {
  max-height: 100%;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin: 12em auto;
  text-align: center;

}

.main--home_content > h1 {
  font-size: 2.25rem;
  font-weight: 800;
  line-height: 42px;
  text-align: left;
}

.main--home_content > h2 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.main--home_content > a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  line-height: 31.66px;
  color: #ffffff;
  background-color: #FF8C38;
  width: 100%;
  padding: .5em 0;
  border-radius: 5px;
}

/* About */

.about--image {
  background-image: url(./assets/vanlife-about-page.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 235px;
}

.about--content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em 3em;
  color: #161616;
}

.about--content > h1 {
  font-size: 2rem;
  line-height: 38px;
  margin-bottom: .5em;
}

.about--content_paragraph {
  margin-bottom: 2.5em;
}

.about--content_paragraph > p {
  font-weight: 500;
  line-height: 22px;
  margin: 0;
}

p.margin-btm {
  margin-bottom: 1.5em;
}

.about--link_card {
  background-color: #FFCC8D;
  padding: 1.5em 1.5em 2.5em;
  border-radius: 5px;
  margin-bottom: 1.5em;
}

.about--link_card_text {
  margin-bottom: 2rem;
}

.about--link_card_text > h2 {
  font-size: 1.5rem;
  margin: 0;
}

.about--link_card > a {
  text-decoration: none;
  font-weight: 700;
  line-height: 23.92px;
  color: #ffffff;
  background-color: #161616;
  padding: 1em;
  border-radius: 10px;
}

/*** VAN PAGES ***/

.van-list-container {
  padding-inline: 23px;
  margin-bottom: 30px;
}

.van-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 34px;
  margin-top: 57px;
}

.van-tile a {
  color: #161616;
  text-decoration: none;
}

.van-tile img {
  max-width: 100%;
  border-radius: 5px;
}

.van-list-container button {
  margin-right: 20px;
  cursor: pointer;
}

.van-type {
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: #FFEAD0;
  color: #4D4D4D;
  transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.van-type:hover {
  color: #FFEAD0;
}

.van-type:focus {
  outline: none;
}

.van-type.selected {
  color: #FFEAD0;
}

.van-type.simple:hover, .van-type.simple.selected {
  background-color: #E17654;
}

.van-type.rugged:hover, .van-type.rugged.selected {
  background-color: #115E59;
}

.van-type.luxury:hover, .van-type.luxury.selected {
  background-color: #161616;
}

.van-type.clear-filters {
  margin-left: -20px;
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  text-decoration: underline;
  background-color: transparent;
  color: #4D4D4D;
}

i[class*='van-type-'] {
  padding: 7px 14px;
}
