* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

body {
  max-width: 650px;
  margin: 0 auto;
  border: 1px solid #FFCC8D;
}

.site-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #FFF7ED;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #FFF7ED;
}

/* Navbar */

.navbar {
    padding: 2em 3em;
    display: flex;
    justify-content: space-between;
    background: #FFF7ED;
}

.navbar--logo {
    font-family: "Inter", sans-serif;
    font-size: 1.271875em;
    font-weight: 900;
    color: #000000;
    text-decoration: none;

}

.navbar--logo:focus,
.navbar--logo:active,
.navbar--links:focus,
.navbar--links:active,
header a {
    text-decoration: none;
    outline: none;
}

.navbar--links {
    display: flex;
    gap: 1.5em;

}

header a{
    font-weight: 600;
    line-height: 22.92px;
    color: #4D4D4D
}

.current-link {
  font-weight: bold;
  text-decoration: underline;
  color: #000000
}

.navbar--logo:hover, .navbar--links > a:hover {
  text-decoration: underline;
  font-weight: bold;
}

/* Footer */

/* .footer {
    margin-top: auto;
    background: #252525;
    padding: .5em
}

.footer > p {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 22.92px;
    text-align: center;
    color: #AAAAAA;
} */

.footer {
  background-color: #161616;
  color: #AAAAAA;
  height: 74px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  font-weight: 500;
}

/* Home */

.main--home {
  min-height: 100vh;
  background-color: #FFCC8D;
  color: white;
  background-image: url("./assets/vanlife-home.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main--home_content {
  max-height: 100%;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin: 12em auto;
  text-align: center;

}

.main--home_content > h1 {
  font-size: 2.25rem;
  font-weight: 800;
  line-height: 42px;
  text-align: left;
}

.main--home_content > h2 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.main--home_content > a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  line-height: 31.66px;
  color: #ffffff;
  background-color: #FF8C38;
  width: 100%;
  padding: .5em 0;
  border-radius: 5px;
}

.main--home_content > a:hover {
  background-color: #E17654;
  font-weight: 900;
}

/* About */

.about--image {
  background-image: url(./assets/vanlife-about-page.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 235px;
}

.about--content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em 3em;
  color: #161616;
}

.about--content > h1 {
  font-size: 2rem;
  line-height: 38px;
  margin-bottom: .5em;
}

.about--content_paragraph {
  margin-bottom: 2.5em;
}

.about--content_paragraph > p {
  font-weight: 500;
  line-height: 22px;
  margin: 0;
}

p.margin-btm {
  margin-bottom: 1.5em;
}

.about--link_card {
  background-color: #FFCC8D;
  padding: 1.5em 1.5em 2.5em;
  border-radius: 5px;
  margin-bottom: 1.5em;
}

.about--link_card_text {
  margin-bottom: 2rem;
}

.about--link_card_text > h2 {
  font-size: 1.5rem;
  margin: 0;
}

.about--link_card > a {
  text-decoration: none;
  font-weight: 700;
  line-height: 23.92px;
  color: #ffffff;
  background-color: #161616;
  padding: 1em;
  border-radius: 10px;
}

.about--link_card > a:hover {
  font-weight: 800;
}

/*** VAN PAGES ***/

.loading-text {
  margin-left: 1em;
}

.van-list-container {
  padding-inline: 23px;
  margin-bottom: 30px;
}

.van-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 34px;
  margin-top: 57px;
}

.van-tile a {
  color: #161616;
  text-decoration: none;
}

.van-tile img {
  max-width: 100%;
  border-radius: 5px;
}

.van-list-container button {
  margin-right: 20px;
  cursor: pointer;
}

.van-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.van-price > p, .van-price > span {
  margin: 0;
}

.van-type {
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: #FFEAD0;
  color: #4D4D4D;
  transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.van-type:hover {
  font-weight: bold;
  color: #FFEAD0;
}

.van-type:focus {
  outline: none;
}

.van-type.selected {
  color: #FFEAD0;
}

.van-type.simple:hover, .van-type.simple.selected {
  background-color: #E17654;
}

.van-type.rugged:hover, .van-type.rugged.selected {
  background-color: #115E59;
}

.van-type.luxury:hover, .van-type.luxury.selected {
  background-color: #161616;
}

.van-type.clear-filters {
  margin-left: -20px;
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  text-decoration: underline;
  background-color: transparent;
  color: #4D4D4D;
}

i[class*='van-type-'] {
  padding: 7px 14px;
}

/* Van Detail */

.van-detail-container {
  padding: 27px;
}

.van-detail-container .back-button {
  color: black;
  text-decoration: none;
}

.van-detail-container .back-button span {
  text-decoration: underline;
}

.van-detail {
  display: flex;
  flex-direction: column;
  color: #161616;
}

.van-detail img {
  border-radius: 5px;
  margin-block: 47px;
}

.van-detail h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.van-detail > i {
  align-self: flex-start;
}

.van-detail .van-price {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.van-detail .van-price span {
  font-weight: 700;
  font-size: 1.5rem;
}

.van-detail .link-button {
  background-color: #FF8C38;
  color: white;
  font-size: 1.125rem;
}

.link-button {
  padding: .6em;
  border: none;
}

/* Host Layout */

.host-nav {
  display: flex;
  margin-top: .5em;
  margin-bottom: 3em;
}

.host-nav a {
  text-decoration: none;
  color: #4D4D4D;
  font-weight: 500;
  padding: 5px 20px;
}

.host-nav a:hover {
  color: #161616;
  text-decoration: underline;
  font-weight: 700;
}

/*  Host Vans */

.host-van-link-wrapper {
  color: unset;
  text-decoration: unset;
}

.host-vans-list {
  padding-inline: 26px;
}

.host-vans-title {
  padding-inline: 26px;
}

.host-van-single {
  display: flex;
  align-items: center;
  background-color: white;
  margin-bottom: 15px;
  padding-block: 18px;
  padding-left: 24px;
}

.host-van-single > img {
  height: 70px;
  border-radius: 5px;
  margin-right: 17px;
}

.host-van-info h3 {
  font-size: 20px;
  font-weight: 600;
  margin-block: 10px;
}

.host-van-info p {
  margin-block: 10px;
}

/*  Host Van Details */


.back-button {
  text-decoration: none;
  color: #161616;
  margin: 2em;
}

.back-button:hover {
  font-weight: 700;
}

.host-van-detail-layout-container {
  background-color: white;
  padding: 24px;
  margin: 30px 26px;
}

.host-van-detail {
  display: flex;
  align-items: center;
}

.host-van-detail > img {
  height: 160px;
  border-radius: 5px;
  margin-right: 20px;
}

.host-van-detail-info-text > h3 {
  margin-top: 24px;
  margin-bottom: 5px;
  font-size: 26px;
  font-weight: 700;
}

.host-van-detail-info-text > h4 {
  font-size: 20px;
  margin-block: 0;
}

/* Host Van Detail Navbar */

.host-van-detail-nav {
  display: flex;
  margin-block: 25px;
}

.host-van-detail-nav a {
  text-decoration: none;
  color: #4D4D4D;
  font-weight: 500;
  padding: 5px 20px;
}

.host-van-detail-nav a:first-of-type {
  text-decoration: none;
  color: #4D4D4D;
  font-weight: 500;
  padding: 5px 15px;
  margin-left: -15px;
}

.host-van-detail-nav a:hover {
  color: #161616;
  text-decoration: underline;
  font-weight: 700;
}

/*  Host Van Detail Info */


.host-van-detail-info > h4 {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}
.host-van-detail-info > h4 > span {
  font-weight: 500;
}

/*  Host Van Detail Pricing */

.host-van-price {
  font-size: 24px;
  font-weight: 500;
}

.host-van-price > span {
  font-size: 16px;
  color: #4D4D4D;
}

/*  Host Van Detail Photos */

.host-van-detail-image {
  height: 100px;
  border-radius: 5px;
}

/* Not Found 404 */

.not-found-container {
  padding-inline: 26px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5em;
}

.not-found-container .link-button {
  width: 100%;
  background-color: #161616;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 1em;
}

/*  Login */


.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 27px;
  margin-top: 4em;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}

.login-form > input {
  border: 1px solid rgba(209, 213, 219);
  height: 40px;
  text-indent: 10px;
  font-family: "Inter", sans-serif;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  font-weight: 400;
}

.login-form > input:focus {
  outline: none;
}

.login-form > input:first-of-type {
  border-radius: 6px 6px 0px 0px;
}

.login-form > input:last-of-type {
  border-radius: 0px 0px 6px 6px;
  border-top: none;
}

.login-form > button {
  background-color: #FF8C38;
  border: none;
  border-radius: 6px;
  height: 55px;
  margin-top: 22px;
  color: white;
  font-family: "Inter", sans-serif;
}

.login-link .login-icon {
  width: 20px;
}

.login-first {
  color: red;
}
